<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutomaticUpdater" version="2.6.18.4" targetFramework="net40" />
  <package id="KaCommonObjects" version="1.19.1" targetFramework="net40" />
  <package id="KaLicenseActivation" version="1.19.2" targetFramework="net40" />
  <package id="KaTm2Database" version="1.19.11" targetFramework="net40" />
  <package id="KaTm2LicenseActivation" version="1.19.2" targetFramework="net40" />
  <package id="KaUpdate" version="1.19.2" targetFramework="net40" />
</packages>