ul#minitabs2
{list-style: none; margin: 0; padding: 10px 0;
	border-bottom: 1px solid #FFF;
	font-weight: bold;
	text-align: left;
	white-space: nowrap}
	
ul#minitabs2 li
{display: inline;
	margin: 0 15px}
	
ul#minitabs2 a
{text-decoration: none; padding: 0 0 3px;
	border-bottom: 4px solid #FFF;
	color: 	#5C5858}
	
ul#minitabs2 a#current
{border-color: orange;
	color: #003399}
	
ul#minitabs2 a:hover
{border-color: orange;
	color: #99ccff}
