<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="18.1.1" targetFramework="net45" />
  <package id="AutomaticUpdater" version="2.6.18.4" targetFramework="net45" />
  <package id="bootstrap" version="4.3.1" targetFramework="net45" />
  <package id="FontAwesome" version="4.7.0" targetFramework="net45" />
  <package id="jQuery" version="3.5.0" targetFramework="net45" />
  <package id="KaCommonControls" version="1.19.0" targetFramework="net45" />
  <package id="KaCommonObjects" version="1.19.1" targetFramework="net45" />
  <package id="KaController" version="1.19.0" targetFramework="net45" />
  <package id="KaLicenseActivation" version="1.19.2" targetFramework="net45" />
  <package id="KaModbus" version="4.17.28" targetFramework="net45" />
  <package id="KaTm2Database" version="1.19.11" targetFramework="net45" />
  <package id="KaTm2LicenseActivation" version="1.19.2" targetFramework="net45" />
  <package id="KaTm2LoadFramework" version="1.19.10" targetFramework="net45" />
  <package id="KaUpdate" version="1.19.2" targetFramework="net45" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.WebForms" version="150.900.148" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Types" version="14.0.1016.290" targetFramework="net45" />
  <package id="popper.js" version="1.14.3" targetFramework="net45" />
  <package id="Stateless" version="4.2.1" targetFramework="net45" />
</packages>